body {
	background: url(./img/fondo6.jpg);
	background-size: cover;
}

select {
   -webkit-appearance:none;
   -moz-appearance:none;
   -ms-appearance:none;
   appearance:none;
   outline:0;
   box-shadow:none;
   border:0!important;
   background: #5c6664;
   background-image: none;
   flex: 1;
   padding: 0 .5em;
   color:#fff;
   cursor:pointer;
   font-size: 1em;
   font-family: 'Open Sans', sans-serif;
}
select::-ms-expand {
   display: none;
}
.select {
   position: relative;
   display: flex;
   width: 20em;
   height: 3em;
   line-height: 3;
   background: #5c6664;
   overflow: hidden;
   border-radius: .25em;
}
.select::after {
   content: '\25BC';
   position: absolute;
   top: 0;
   right: 0;
   padding: 0 1em;
   background: #2b2e2e;
   cursor:pointer;
   pointer-events:none;
   transition:.25s all ease;
}
.select:hover::after {
   color: #23b499;
}
.inp{
  box-shadow: 0;
  border: 0;
  background-color: rgba(255, 255, 255, .1);
  width: 25%;
  height: 30px;
  border: solid 2px gray;
  font-size: 15px;
  font-color: #fff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: left;
  transition: all 250ms ease;
}

.boton1{
  text-decoration: none;
  padding: 3px;
  font-weight: 6000;
  font-size: 15px;
  color: white;
  background-color: grey;
  border-radius: 5px;
  border: 1px solid black;
  }

#contenedor {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(../img/fondo8.jpg);
  background-size: cover;
}

#ventana {
  background-color: rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	color: #fff;
	padding: 35px;
	width: 400px;
	margin: 50px auto;
 	flex-direction: column;
 	align-items: center;
  align-content: center;
  font-size: 15px;
}

.menulista {
  display: inline-block;
}

.opciones{

  color: black;

}

.lista li{
  display: inline-block;
}

.lista li a:hover{
  background: #fff;
  color: #333;
}

.lista li a{
  color: black;
  text-decoration: none;
  padding: 5px 20px;
  font-family: poppins;
  font-size: 20px;
}

.lista {
  text-align: center;
}
