body {
  background-color: #1AD;
	background-size: cover;
}

header{
  width: 100%;
  color: #FFFFFF;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0,.5);
}

.contenedor__title /*IMPLEMENTAR METODOLOGIA BEM*/ {
  margin-left: 30px;
  font-size: 30px;
	color: #FFFFFF;
  font-family: 'Libre Baskerville', serif;
}

.mi-select{
  outline: 0;
  box-shadow: none;
	border: solid 1px #000;
  background-image: none;
  flex: 1;
  cursor: pointer;
  text-align: center;
  width: 22%;
  height: 35px;
  color: #000;
	background-color: #FFF;
  font-family: sans-serif;
  font-weight:bold;
}

.mi-select option{
	background-color: #EEE;
  color: #333333;
  font-weight: bold;
}

.mi-input{
  font-weight: bold;
  font-family: sans-serif;
  outline: 0;
  box-shadow: 0;
  background-color: #FFF;
  width: 22%;
  height: 35px;
  border: solid 1px #000;
  color: #000;
  text-align: left;
  transition: all 250ms ease;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] { -moz-appearance:textfield; }

.contenido-padron{
	font-family: sans-serif;
	margin-top: 10px;
	width: auto;
	color: #1C327D;
	background-color: rgba(250, 250, 250,.5);
	border: none;
	padding: 3px;
}

.button-blue{
  color: #3498db;
  padding: 3px;
  background-color: #fff;
  border: .5px solid #fff;
	margin-right: 5px;
}

.button-blue:hover {
  color: #fff;
  background-color: #3498db;
  border: .5px solid #3498db;
  transition: all 250ms ease;
}

.button-blue:focus{
  background: #333333;
  outline: none;
  border: .5px solid #333333;
  color: #fff;
}

.datos{
  color: #333333;
}

.contenedor-contenido{
  margin: 50px;
  height: 300px;
  width: auto;
  text-align: center;
}
